# Import Dependencies and CSV Files

In [1]:
import pandas as pd
import numpy as np
import re
import time

from pathlib import Path
from collections import Counter

In [2]:
# File Paths
movies = "Data/movies.csv"

# Read CSV Files
movie_df = pd.read_csv(movies, low_memory=False)

In [3]:
movie_df.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

# Split Movie Title and Year, Create Separate Columns

In [4]:
# pattern = '\((\d{4})\)'
# years = movie_df["title"].str.extract(pattern, expand=False)

pattern_2 = '(.*\w*)(?:\s\((\d{4})\))'
title = movie_df["title"].str.extract(pattern_2, expand=False)
title["Title"] = title[0]
title["Year"] = title[1]
movie_df["Title"] =  title["Title"]
movie_df["Year"] = title["Year"]
movie_df.head(20)

,movieId,title,genres,Title,Year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995
5,6,Heat (1995),Action|Crime|Thriller,Heat,1995
6,7,Sabrina (1995),Comedy|Romance,Sabrina,1995
7,8,Tom and Huck (1995),Adventure|Children,Tom and Huck,1995
8,9,Sudden Death (1995),Action,Sudden Death,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,GoldenEye,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,"American President, The",1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,Dracula: Dead and Loving It,1995
12,13,Balto (1995),Adventure|Animation|Children,Balto,1995
13,14,Nixon (1995),Drama,Nixon,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,Cutthroat Island,1995
15,16,Casino (1995),Crime|Drama,Casino,1995
16,17,Sense and Sensibility (1995),Drama|Romance,Sense and Sensibility,1995
17,18,Four Rooms (1995),Comedy,Four Rooms,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,Ace Ventura: When Nature Calls,1995
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,Money Train,1995

# Separate Genres Into Lists

In [5]:
# movie_df.reset_index

# movies_df = movie_df.set_index("movieId")


# movies_df["movieId"] = movie_df["movieId"]

# movies_df.head()
# (Genres[0].unique(),
#  Genres[1].unique(),
#  Genres[2].unique(),
#  Genres[3].unique(),
#  Genres[4].unique(),
#  Genres[5].unique(),
#  Genres[6].unique(),
#  Genres[7].unique(),
#  Genres[8].unique(),
#  Genres[9].unique())
# movies_df = movies_df.loc[:, ['Title', 'Year', 'genres']]

In [6]:
movie_df["genres"] = movie_df["genres"].str.split('|', expand=False)
movie_df = movie_df.drop(columns="title")
Genres = movie_df["genres"].to_list()

# Constructing Function To Split Genre List Into Separate Columns With Boolean Entries

In [7]:
# movies_df["Adventure"] = ""
# movies_df["Action"] = ""
# movies_df["Animation"] = ""
# movies_df["Children"] = ""
# movies_df["Comedy"] = ""
# movies_df["Crime"] = ""
# movies_df["Documentary"] = ""
# movies_df["Drama"] = ""
# movies_df["Fantasy"] = []
# movies_df["Film-Noir"] = []
# movies_df["Horror"] = []
# movies_df["IMAX"] = []
# movies_df["Musical"] = []
# movies_df["Mystery"] = []
# movies_df["Romance"] = []
# movies_df["Sci-Fi"] = []
# movies_df["Thriller"] = []
# movies_df["War"] = []
# movies_df["Western"] = []
# movies_df["No Listed Genre"] = []

In [8]:
Genres_df = pd.DataFrame(columns=['mg_id', 'genre_id', "movie_id"])
Genres_df["movieId"] = movie_df["movieId"]
Genres_df.head()

  mg_id genre_id movie_id  movieId
0   NaN      NaN      NaN        1
1   NaN      NaN      NaN        2
2   NaN      NaN      NaN        3
3   NaN      NaN      NaN        4
4   NaN      NaN      NaN        5

# Function

In [9]:
def genre_split(df_1, df_2):
    i = -1
    x = 0
    for row in df_1["genres"]:
        x += 1
        if x in df_1["movieId"]:
            for line in row:
                i += 1
                if line != "(no genres listed)":
                    if line == "Adventure":
                        df_2.at[i, "genre_id"] = 1
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Action":
                        df_2.at[i, "genre_id"] = 2
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Animation":
                        df_2.at[i, "genre_id"] = 3
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Children":
                        df_2.at[i, "genre_id"] = 4
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Comedy":
                        df_2.at[i, "genre_id"] = 5
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Crime":
                        df_2.at[i, "genre_id"] = 6
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Documentary":
                        df_2.at[i, "genre_id"] = 7
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Drama":
                        df_2.at[i, "genre_id"] = 8
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Fantasy":
                        df_2.at[i, "genre_id"] = 9
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Film-Noir":
                        df_2.at[i, "genre_id"] = 10
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Horror":
                        df_2.at[i, "genre_id"] = 11
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "IMAX":
                        df_2.at[i, "genre_id"] = 12
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Musical":
                        df_2.at[i, "genre_id"] = 13
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Mystery":
                        df_2.at[i, "genre_id"] = 14
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Romance":
                        df_2.at[i, "genre_id"] = 15
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Sci-Fi":
                        df_2.at[i, "genre_id"] = 16
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Thriller":
                        df_2.at[i, "genre_id"] = 17
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "War":
                        df_2.at[i, "genre_id"] = 18
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    elif line == "Western":
                        df_2.at[i, "genre_id"] = 19
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                    else:
                        df_2.at[i, "genre_id"] = 20      
                        df_2.at[i, "movie_id"] = x
                        df_2.at[i, "mg_id"] = i
                else:
                    df_2.at[i, "genre_id"] = 20
                    df_2.at[i, "movie_id"] = x
                    df_2.at[i, "mg_id"] = i
        else:
            continue   
    return df_2.head()

In [10]:
# def genre_split(column, df_2):
#     i = 0
#     for row in column["genres"]:
#         i += 1
#         for line in row:
#             if i in column["movieId"]:
#                 if line != "(no genres listed)":
#                     if line == "Adventure":
#                         df_2.at[i, "Adventure"] = 1
#                     elif line == "Action":
#                         df_2.at[i, "Action"] = 1
#                     elif line == "Animation":
#                         df_2.at[i, "Animation"] = 1
#                     elif line == "Children":
#                         df_2.at[i, "Children"] = 1
#                     elif line == "Comedy":
#                         df_2.at[i, "Comedy"] = 1
#                     elif line == "Crime":
#                         df_2.at[i, "Crime"] = 1
#                     elif line == "Documentary":
#                         df_2.at[i, "Documentary"] = 1
#                     elif line == "Drama":
#                         df_2.at[i, "Drama"] = 1
#                     elif line == "Fantasy":
#                         df_2.at[i, "Fantasy"] = 1
#                     elif line == "Film-Noir":
#                         df_2.at[i, "Film-Noir"] = 1
#                     elif line == "Horror":
#                         df_2.at[i, "Horror"] = 1
#                     elif line == "IMAX":
#                         df_2.at[i, "IMAX"] = 1
#                     elif line == "Musical":
#                         df_2.at[i, "Musical"] = 1
#                     elif line == "Mystery":
#                         df_2.at[i, "Mystery"] = 1
#                     elif line == "Romance":
#                         df_2.at[i, "Romance"] = 1
#                     elif line == "Sci-Fi":
#                         df_2.at[i, "Sci-Fi"] = 1
#                     elif line == "Thriller":
#                         df_2.at[i, "Thriller"] = 1
#                     elif line == "War":
#                         df_2.at[i, "War"] = 1
#                     elif line == "Western":
#                         df_2.at[i, "Western"] = 1
#                     else:
#                         df_2.at[i, "No Listed Genre"] = 1       
#                 else:
#                     df_2.at[i, "No Listed Genre"] = 1
#             else:
#                 continue    
#     return df_2.head()

In [11]:
genre_split(movie_df, Genres_df)

  mg_id genre_id movie_id  movieId
0     0        1        1      1.0
1     1        3        1      2.0
2     2        4        1      3.0
3     3        5        1      4.0
4     4        9        1      5.0

In [12]:
Genres_df.head(20)

   mg_id genre_id movie_id  movieId
0      0        1        1      1.0
1      1        3        1      2.0
2      2        4        1      3.0
3      3        5        1      4.0
4      4        9        1      5.0
5      5        1        2      6.0
6      6        4        2      7.0
7      7        9        2      8.0
8      8        5        3      9.0
9      9       15        3     10.0
10    10        5        4     11.0
11    11        8        4     12.0
12    12       15        4     13.0
13    13        5        5     14.0
14    14        2        6     15.0
15    15        6        6     16.0
16    16       17        6     17.0
17    17        5        7     18.0
18    18       15        7     19.0
19    19        1        8     20.0

# Write DataFrame To CSV File

In [14]:
Genres_df.to_csv("Data/movie_genres_clean.csv", index=False)