In [1]:
import pandas as pd
import numpy as np
import re
import time

import sqlalchemy
from sqlalchemy import create_engine
import io
import psycopg2

from pathlib import Path
from collections import Counter

In [2]:
# File imports
# ratings_path = "Data/ratings_clean.csv"
# crew_path = "Data/crew_clean.csv"
# movies_path = "Data/movies_clean.csv"
# genres_path = "New_Data/movie_genres_clean.csv"
# metadata_path = "Data/export_metadata.csv"
cast_path = "New_Data/movie_cast.csv"

In [3]:
# ratings_df = pd.read_csv(ratings_path, low_memory=False)
# crew_df = pd.read_csv(crew_path, low_memory=False)
# movies_df = pd.read_csv(movies_path, low_memory=False)
# genres_df = pd.read_csv(genres_path, low_memory=False)
# meta_df = pd.read_csv(metadata_path, low_memory=False)
cast_df = pd.read_csv(cast_path, low_memory=False)

In [4]:
# meta_df.head()

In [5]:
# ratings_df.head()

In [6]:
cast_df["index"] = cast_df.index
Cast_Index = cast_df["index"] + 1
cast_df["mc_id"] = Cast_Index

In [7]:
cast_df = cast_df.drop(columns=["index"])
cast_df.head()

   movie_id  cast_id  mc_id
0         1       31      1
1         2     2157      2
2         3     6837      3
3         4     8851      4
4         5    67773      5

In [8]:
# crew_df = crew_df.drop(columns="Unnamed: 0")
# crew_df.head()

In [9]:
# movies_df.head()

In [10]:
# genres_df.head()

In [11]:
# meta_df.count()

In [12]:
# ratings_df.count()

In [13]:
cast_df.count()

movie_id    36790
cast_id     36790
mc_id       36790
dtype: int64

In [14]:
# crew_df.count()

In [15]:
# movies_df.count()

In [16]:
# genres_df.count()

In [17]:
# meta_df = meta_df.drop_duplicates(keep="first")
# ratings_df = ratings_df.drop_duplicates(keep="first")
cast_df = cast_df.drop_duplicates(keep="first")
# # crew_df = crew_df.drop_duplicates(keep="first")
# movies_df = movies_df.drop_duplicates(keep="first")
# genres_df = genres_df.drop_duplicates(keep="first")

In [18]:
# meta_df = meta_df.dropna()
# ratings_df = ratings_df.dropna()
cast_df = cast_df.dropna()
# # crew_df = crew_df.dropna()
# movies_df = movies_df.dropna()
# genres_df = genres_df.dropna()

In [19]:
# meta_df.count()

In [20]:
# ratings_df.count()

In [21]:
cast_df.count()

movie_id    36790
cast_id     36790
mc_id       36790
dtype: int64

In [22]:
# crew_df.count()

In [23]:
# movies_df["year"] = movies_df["Year"]
# movies_df.count()

In [24]:
# genres_df.count()

In [25]:
# movies_df["movie_id"] = movies_df["movieId"]
# movies_df["name"] = movies_df["Title"]
# movies_df = movies_df.astype({"year": int})
# movies_df.head()

In [26]:
# ratings_df["user_id"] = ratings_df["userId"]
# ratings_df["movie_id"] = ratings_df["movieId"]
# ratings_df.head()

In [27]:
# genres_df.head(20)

In [28]:
# genres_df = genres_df.loc[:, ["mg_id", "movie_id", "genre_id"]]
# movies_df = movies_df.loc[:, ["movie_id", "name", "year"]]
# ratings_df = ratings_df.loc[:, ["user_id", "movie_id", "rating"]]

# genres_df = genres_df.set_index("mg_id")
# movies_df = movies_df.set_index("movie_id")
# ratings_df = ratings_df.set_index("user_id")

# meta_df = meta_df.loc[:, ["movie_id", "release_date", "runtime"]]
cast_df = cast_df.loc[:, ["mc_id", "movie_id", "cast_id"]]
# # crew_df = crew_df.loc[:, ["movie_id", "name", "job", "gender"]]

# meta_df = meta_df.set_index("movie_id")
cast_df = cast_df.set_index("mc_id")
# # crew_df = crew_df.set_index("movie_id")

In [29]:
# genres_df.head()

In [30]:
# movies_df.head()

In [31]:
# ratings_df.head()

In [32]:
# meta_df.head()

In [33]:
cast_df.head()

       movie_id  cast_id
mc_id
1             1       31
2             2     2157
3             3     6837
4             4     8851
5             5    67773

In [35]:
# crew_df.head()

In [36]:
# # meta_df.to_csv("New_Data/movie_metadata_final.csv")
# cast_df.to_csv("New_Data/cast_final.csv")
# # crew_df.to_csv("New_Data/crew_final.csv")
# movies_df.to_csv("New_Data/movies_final.csv")
# genres_df.to_csv("New_Data/movie_genres_final.csv")
# ratings_df.to_csv("New_Data/ratings_final.csv")

In [37]:
from config import db_password
from config import username

In [38]:
host = 'movies-fp.cpige012zhtw.us-east-1.rds.amazonaws.com'
port = 5432
passw = db_password
database = "postgres"
port=5432

   
db_string = "postgresql://" + username + ":" + passw + "@" + host + ":" + "5432/" + database
engine = create_engine(db_string)

In [39]:
# genres_df.to_sql(name="movie_genre", con=engine, if_exists="replace")

In [40]:
# movies_df.to_sql(name="movies", con=engine, if_exists="replace")

In [41]:
# ratings_df.to_sql(name="ratings", con=engine, if_exists="replace")

In [42]:
# meta_df.to_sql(name="metadata", con=engine, if_exists="replace")

In [43]:
cast_df.to_sql(name="movie_cast", con=engine, if_exists="replace")

In [44]:
# # crew_df.to_sql(name="crew", con=engine, if_exists="replace")