In [1]:
# Initial imports.
import numpy as np
import pandas as pd
from path import Path
import seaborn as sb
import matplotlib.pyplot as plt

from config import db_user, db_password, host_address

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

### Using postgres adapter

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\envs\mlenv\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [28]:
# postgres adapter
import psycopg2
try:
    conn = psycopg2.connect(database = 'postgres',
                        user =     db_user,
                        password = db_password,
                        host =     host_address,
                        port =     '5432')

# print the connection if successful
#     print ("psycopg2 connection:", conn)   
    
except Exception as e:
    print("Database connection failed due to {}".format(e))

In [4]:
# postgress adapter
cur = conn.cursor()

cur.execute('''
        SELECT *
        FROM genres;
        ''')

genre_results = cur.fetchall()

print(genre_results)

[(1, 'Adventure'), (2, 'Action'), (3, 'Animation'), (4, 'Children'), (5, 'Comedy'), (6, 'Crime'), (7, 'Documentary'), (8, 'Drama'), (9, 'Fantasy'), (10, 'Film-Noir'), (11, 'Horror'), (12, 'IMAX'), (13, 'Musical'), (14, 'Mystery'), (15, 'Romance'), (16, 'Sci-Fi'), (17, 'Thriller'), (18, 'War'), (19, 'Western'), (20, 'No Listed Genre')]

In [5]:
# postgres adapter
# query_results
genres_df = pd.DataFrame(genre_results,columns=["genre_id","genre_name"])
genres_df.head()

   genre_id genre_name
0         1  Adventure
1         2     Action
2         3  Animation
3         4   Children
4         5     Comedy

In [6]:
# postgress adapter

cur.execute('''
        SELECT *
        FROM movies;
        ''')

movies_results = cur.fetchall()

In [7]:
# postgres adapter

movies_df = pd.DataFrame(movies_results,columns=["movie_id", "name", "year"])
movies_df.head()

   movie_id                         name  year
0         1                    Toy Story  1995
1         2                      Jumanji  1995
2         3             Grumpier Old Men  1995
3         4            Waiting to Exhale  1995
4         5  Father of the Bride Part II  1995

In [8]:
# postgress adapter

cur.execute('''
        SELECT *
        FROM movie_genre;
        ''')

movie_genre = cur.fetchall()

In [9]:
# postgres adapter

movie_genre_df = pd.DataFrame(movie_genre,columns=["mg_id", "movie_id", "genre_id"])
movie_genre_df.head()

   mg_id  movie_id  genre_id
0      0         1         1
1      1         1         3
2      2         1         4
3      3         1         5
4      4         1         9

In [10]:
# postgress adapter

cur.execute('''
        SELECT *
        FROM ratings;
        ''')

ratings_reults = cur.fetchall()

In [11]:
# postgres adapter

ratings_df = pd.DataFrame(ratings_reults,columns=["user_id", "movie_id", "rating"])
ratings_df.head()

   user_id  movie_id  rating
0        1       307     3.5
1        1       481     3.5
2        1      1091     1.5
3        1      1257     4.5
4        1      1449     4.5

In [ ]:
# selecting data from ratings, movies, genre_movies, genres
# need to select from movies_metadata, cast, crew


cur.execute('''
        SELECT r.movie_id, r.user_id, r.rating, 
        m.name, m.year,
        mg.mg_id, mg.genre_id,
        g.genre_name
        FROM ratings r 
        INNER JOIN movies m ON r.movie_id = m.movie_id
        INNER JOIN movie_genre mg ON m.movie_id = mg.movie_id
        INNER JOIN genres g ON mg.genre_id = g.genre_id;
        ''')

movies_ratings_results = cur.fetchall()

In [ ]:
pd.DataFrame(movies_ratings_results).head()

In [ ]:
# postgres adapter
movies_ratings_df = pd.DataFrame(movies_ratings_results,columns=["movie_id", "user_id", "rating", 
        "m.name", "year",
        "mg_id", "genre_id",
        "genre_name"]).head()

In [12]:
#postgres adapter
#after all data has been fetched and saved to dataframe

conn.close

## SQLAlchemy

In [ ]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [ ]:
# SQL Alchemy
from sqlalchemy import create_engine

# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"
db_string = f"postgresql://{db_user}:{db_password}@{host_address}:5432/postgres"
engine = create_engine(db_string)
engine

In [ ]:
# SQL alchemy - pandas read sql
conn = engine.connect()
genres_df =pd.read_sql("SELECT * FROM genres", conn)
conn.close

genres_df

In [ ]:
# to save to a database
# better to save it in file, and keep it in memory
# movies_df.to_sql(name='movies', con=engine)

### Merging Dataframes

In [13]:
print("Number of rows in ratings df", len(ratings_df))
print("Number of rows in movies df", len(movies_df))

Number of rows in ratings df 27753444
Number of rows in movies df 57769

In [14]:
movies_ratings_df = ratings_df.merge(movies_df, left_on = "movie_id", right_on = "movie_id") 
movies_ratings_df.head()

   user_id  movie_id  rating                                       name  year
0        1       307     3.5  Three Colors: Blue (Trois couleurs: Bleu)  1993
1        6       307     4.0  Three Colors: Blue (Trois couleurs: Bleu)  1993
2       56       307     4.0  Three Colors: Blue (Trois couleurs: Bleu)  1993
3       71       307     5.0  Three Colors: Blue (Trois couleurs: Bleu)  1993
4       84       307     3.0  Three Colors: Blue (Trois couleurs: Bleu)  1993

In [15]:
movies_ratings_df.shape

(27746572, 5)

In [16]:
movies_ratings_mvgenres_df = movies_ratings_df.merge(movie_genre_df, left_on = "movie_id", right_on = "movie_id") 

movies_ratings_mvgenres_df.head()

,user_id,movie_id,rating,name,year,mg_id,genre_id
0,1,307,3.5,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8
1,1,307,3.5,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8
2,6,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8
3,6,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8
4,56,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8

In [17]:
movies_ratings_mvgenres_df.shape

(93749288, 7)

In [18]:
movies_ratings_genres_df = movies_ratings_mvgenres_df.merge(genres_df, left_on = "genre_id", right_on = "genre_id") 

movies_ratings_genres_df.shape

(93749288, 8)

In [19]:
movies_ratings_genres_df.head()

,user_id,movie_id,rating,name,year,mg_id,genre_id,genre_name
0,1,307,3.5,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8,Drama
1,1,307,3.5,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8,Drama
2,6,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8,Drama
3,6,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8,Drama
4,56,307,4.0,Three Colors: Blue (Trois couleurs: Bleu),1993,636,8,Drama

In [20]:
movies_ratings_genres_df.dtypes

user_id         int64
movie_id        int64
rating        float64
name           object
year            int64
mg_id           int64
genre_id        int64
genre_name     object
dtype: object

In [21]:
movies_ratings_genres_df.nunique()

user_id       281146
movie_id        9571
rating            10
name            9373
year              93
mg_id          19298
genre_id          20
genre_name        20
dtype: int64

In [22]:
movies_ratings_genres_df.to_csv("movies_ratings_genres.csv")

In [23]:
# Drop the null rows
movies_newdf = movies_ratings_genres_df.dropna()
movies_newdf.shape

(93749288, 8)

In [24]:
# preprocess the data

#convert timestamp column into datetime
from datetime import datetime

In [25]:
movies_newdf.select_dtypes(include=['object']).columns

Index(['name', 'genre_name'], dtype='object')

In [26]:
movies_newdf.name.value_counts()

Toy Story                                                                  684690
Terminator 2: Judgment Day                                                 642580
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)    635050
Dances with Wolves                                                         622524
Forrest Gump                                                               582240
                                                                            ...
B.F.'s Daughter                                                                 2
Century of the Dragon (Long zai bian yuan)                                      2
Camille 2000                                                                    2
Story of Seabiscuit, The                                                        2
Golden Gate                                                                     2
Name: name, Length: 9373, dtype: int64

In [27]:
# correlation function to see which columns are connected to ratings, 
# if corr is high then send it to model, if low then delete the column, closer to -1 means negativee cor, closer to 1 is positive corr


print(movies_newdf.corr())

           user_id  movie_id    rating      year     mg_id  genre_id
user_id   1.000000  0.002709 -0.000799  0.000070  0.002700 -0.000028
movie_id  0.002709  1.000000 -0.029266  0.134768  0.999958  0.012063
rating   -0.000799 -0.029266  1.000000 -0.112896 -0.029333  0.004815
year      0.000070  0.134768 -0.112896  1.000000  0.133206 -0.006779
mg_id     0.002700  0.999958 -0.029333  0.133206  1.000000  0.012218
genre_id -0.000028  0.012063  0.004815 -0.006779  0.012218  1.000000

In [ ]:
# plotting correlation heatmap
# dataplot = sb.heatmap(movies_df.corr(), cmap="YlGnBu", annot=True)
dataplot = sb.heatmap(movies_newdf.corr(), cmap="YlGnBu", annot=True)
  
# displaying heatmap
plt.show(dataplot)

In [ ]:
movies_newdf.columns

In [ ]:
# remove userid, movieID columns
y = movies_newdf[['rating']]
X = movies_newdf.drop(['user_id','movie_id','mg_id','rating','name','genre_name'], axis =1)


# X = movies_df.drop(['userId','movieId'], axis =1)
# X.dropna(inplace=True)
# y = X[['rating']].to_numpy()
# X.drop(['rating'],axis=1,inplace=True)
# X = X.to_numpy()

In [ ]:
X.describe()

In [ ]:
y['rating'].value_counts()

In [ ]:
# Splitting into Train and Test sets.
# default test_size is .25
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,test_size=0.33)

In [ ]:
# Creating a StandardScaler instance.
# note: don't need to use feature scaling techniques for Random Forest and Decision trees algorithms
# Note: need to use feature scaling for linear regression, gradient descent optimization, K-nearest neighbors

# scalar = MinMaxScalar()
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Linear Regression

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
# lr.fit(X, y)
lr.fit(X_train_scaled,y_train)

In [ ]:
# print slope 
print(lr.coef_)

In [ ]:
# print  y-intercept

print(lr.intercept_)

In [ ]:
# mse of trained model

print('MAE: ', mean_absolute_error(y_train,lr.predict(X_train)))
print('MSE: ', mean_squared_error(y_train,lr.predict(X_train)))

In [ ]:
lr_predictions= lr.predict(X_test_scaled)
lr_predictions

In [ ]:
# Accuracy assessment: R squared
lr.score(X_test_scaled, lr_predictions)

In [ ]:




# Display performance metrics
print('MAE: ', mean_absolute_error(y_test, lr_predictions))
print('MSE: ', mean_squared_error(y_test, lr_predictions))

In [ ]:
y_test

In [ ]:
lr_predictions

In [ ]:
len(lr_predictions)

In [ ]:
# Merge movies_df with y_test - to used for graphs
movie_lr_test = pd.merge(movies_ratings_df,y_test,how = 'inner', right_index = True, left_index = True)
movie_lr_test

In [ ]:
movie_lr_test.columns

In [ ]:
# # Merge movies_df with y_pred - to used for graphs
# movie_lr_pred = pd.merge(movies_df,pd.DataFrame(predictions),how = 'inner', right_index = True, left_index = True)
# movie_lr_pred

# join predictions with dataframe
movie_lr_test["lr_predictions"] = lr_predictions
movie_lr_test.head()

In [ ]:
movie_lr_test.head()

In [ ]:
# this plot is not necessary
# # scatter plot to plot the actual observations, with x_train on the x-axis and y_train on the y-axis
import matplotlib.pyplot as plt



# plt.scatter(movie_lr_test['name'], y_test, color = "red")
# plt.scatter(movie_lr_test['name'], predictions, color = "green")
plt.scatter(movie_lr_test['movieId'], movie_lr_test['rating_y'], color = "red")
plt.scatter(movie_lr_test['movieId'], movie_lr_test['lr_predictions'], color = "green")

plt.title("Comparing Actual Ratings with Predictions")
plt.xlabel("Movies")
plt.ylabel("Ratings")
plt.show()

### Random Forest Regressor

In [ ]:
# Initial imports.
import numpy as np
import pandas as pd
from path import Path
import seaborn as sb
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
# Loading data
file_path = Path("Resources/Movie_Ratings.csv")
movies_RF_df = pd.read_csv(file_path)

movies_RF_df.head()

In [ ]:
# remove userid, movieID columns
y = movies_RF_df[['rating']]
X = movies_RF_df.drop(['userId','movieId','title','rating'], axis =1)

# Splitting into Train and Test sets.
# default test_size is .25
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,test_size=0.33)

In [ ]:
# # Creating a StandardScaler instance.
# scaler = StandardScaler()
# # Fitting the Standard Scaler with the training data.
# X_scaler = scaler.fit(X_train)

# # Scaling the data.
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a random forest Regressor
k = 5
rf_model = RandomForestRegressor(n_estimators=128, random_state=78, max_depth = k) 

# Fitting the model
rf_model.fit(X_train, y_train.values.ravel())

In [ ]:
# Making predictions using the testing data.
y_rf_pred = rf_model.predict(X_test)

# Display performance metrics
print('MAE: ', mean_absolute_error(y_test, y_rf_pred))
print('MSE: ', mean_squared_error(y_test, y_rf_pred))

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_true, y_pred, multioutput='variance_weighted')
r2_score(y_true, y_pred, multioutput='uniform_average')
 r2_score(y_true, y_pred, multioutput='raw_values')

In [ ]:
X_test.index
print(y_rf_pred)

In [ ]:
# Merge movies_df with y_test 
X_rfr_test = pd.merge(movies_df,y_test,how = 'inner', right_index = True, left_index = True)
X_rfr_test

In [ ]:
# join predictions with dataframe
X_rfr_test["predictions"] = y_rf_pred

In [ ]:
X_rfr_test.head()

In [ ]:
plt.scatter(X_rfr_test['movieId'].values, X_rfr_test['rating_y'], color = 'red')
plt.scatter(X_rfr_test['movieId'].values, X_rfr_test['predictions'], color = 'green')
# plt.scatter(X_rfr_test['title'].values, y_test, color = 'red')
# plt.scatter(X_rfr_test['title'].values, y_pred, color = 'green')

plt.title('Random Forest Regression')
plt.xlabel('Movie')
plt.ylabel('Rating')
plt.show()

In [ ]:
# Calculate feature importance in the Random Forest model.
features = rf_model.feature_importances_
# importances

# sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

In [ ]:
print(features)

In [ ]:
features1 = sorted(zip(X.columns, rf_model.feature_importances_), key = lambda x: x[1])
cols = [f[0] for f in features1]
width = [f[1] for f in features1]

fig, ax = plt.subplots()

fig.set_size_inches(10,10)
plt.margins(y=0.001)

ax.barh(y=cols, width=width)

plt.show()

# plt.bar(x = range(len(features)), height=features)
# plt.show()

### Decision Tree Regressor

In [ ]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor

# Fit regression model
regr = DecisionTreeRegressor(max_depth=2)
regr.fit(X, y)

# Predict

result = regr.predict(X_test)

print(result)

### Support Vector Regression

In [ ]:
# Loading data
file_path = Path("Resources/Movie_Data.csv")
movies_SVR_df = pd.read_csv(file_path)
movies_SVR_df.head()

In [ ]:
# from sklearn.svm import SVR

# svr = SVR().fit(X, y)

# svr.predict(X_test)

### Lasso Regression

In [ ]:
# Loading data
file_path = Path("Resources/Movie_Data.csv")
movies_lasso_df = pd.read_csv(file_path)
movies_lasso_df.head()

In [ ]:
#preprocess data
# preprocess data
# convert genres into separate columns, using custom function instead of getDummies 
print(movies_lasso_df.genres.value_counts())
movies_lasso_df = pd.get_dummies(movies_lasso_df, columns = ['genres'])
# movies_RF_df.head()

In [ ]:
# remove userid, movieID columns
y = movies_lasso_df[['rating']]
X = movies_lasso_df.drop(['userId','movieId','title','rating'], axis =1)


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,test_size=0.33)

In [ ]:

from sklearn.metrics import r2_score


#Split train and test data

# scale data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_s_train = scaler.transform(X_train)
X_s_test = scaler.transform(X_test)

# train the model
from sklearn.linear_model import Lasso
alpha = 0.1
lasso = Lasso(alpha=alpha)


lasso.fit(X_s_train, y_train)
print("Training coefficient and intercept:", lasso.coef_[0], lasso.intercept_)

# Use pipeline instead of scalar and lasso function separately
# pipeline = make_pipeline(StandardScaler(), Lasso())
# pipeline.fit(X_train, y_train)
# print(pipeline[1].coef_[0], pipeline[1].intercept_)

# Predict
y_pred_lasso = lasso.predict(X_test)
r2_score_lasso = r2_score(y_test,y_pred_lasso)
r2_score_lasso = r2_score(y_test,y_pred_lasso)
print(lasso)
print("r^2 on test data: %f" % r2_score_lasso)

### Ridge Regression

In [ ]:
# ridge = Ridge()  
# ridge.fit(X_train, y_train, 1)
# ridge_metrics = np.array([ridge.intercept_, ridge.coef_[0]])
# print(ridge_metrics)