# Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import re
import time
import sqlalchemy
from sqlalchemy import create_engine
import io
import psycopg2

from pathlib import Path
from collections import Counter

# Create File Paths and Import As Dataframes

In [2]:
# ratings_path = "Data/ratings_clean.csv"
# movies_path = "Data/movies_clean.csv"
genres_path = "Data/movie_genres_clean.csv"
# cast_path = "New_Data/movie_cast.csv"

In [3]:
# ratings_df = pd.read_csv(ratings_path, low_memory=False)
# movies_df = pd.read_csv(movies_path, low_memory=False)
genres_df = pd.read_csv(genres_path, low_memory=False)
# cast_df = pd.read_csv(cast_path, low_memory=False)

In [4]:
# ratings_df.head()

# Create mc_id Index With Base 1 Not Python's Base 0

In [5]:
# cast_df["index"] = cast_df.index
# Cast_Index = cast_df["index"] + 1
# cast_df["mc_id"] = Cast_Index

# Drop Unnecessary Index Column

In [6]:
# cast_df = cast_df.drop(columns=["index"])
# cast_df.head()

In [7]:
# movies_df.head()

In [8]:
# ratings_df.count()

In [9]:
# cast_df.count()

In [10]:
# movies_df.count()

In [11]:
genres_df.count()

mg_id       57818
genre_id    57818
movie_id    57818
movieId     57818
dtype: int64

# Drop Duplicates In Dataframes

In [12]:
# ratings_df = ratings_df.drop_duplicates(keep="first")
# cast_df = cast_df.drop_duplicates(keep="first")
# movies_df = movies_df.drop_duplicates(keep="first")
genres_df = genres_df.drop_duplicates(keep="first")

# Drop NaN Values In Dataframes

In [13]:
# ratings_df = ratings_df.dropna()
# cast_df = cast_df.dropna()
# movies_df = movies_df.dropna()
genres_df = genres_df.dropna()

In [14]:
# ratings_df.count()

In [15]:
# cast_df.count()

# Ensure Column Names and Datatypes Are Consistent With Database

In [16]:
# movies_df["year"] = movies_df["Year"]
# movies_df.count()

In [17]:
genres_df.count()

mg_id       57818
genre_id    57818
movie_id    57818
movieId     57818
dtype: int64

In [18]:
# movies_df["movie_id"] = movies_df["movieId"]
# movies_df["name"] = movies_df["Title"]
# movies_df = movies_df.astype({"year": int})
# movies_df.head()

In [19]:
# ratings_df["user_id"] = ratings_df["userId"]
# ratings_df["movie_id"] = ratings_df["movieId"]
# ratings_df.head()

In [20]:
genres_df.head(20)

    mg_id  genre_id  movie_id  movieId
0       1         1         1      2.0
1       2         3         1      3.0
2       3         4         1      4.0
3       4         5         1      5.0
4       5         9         1      6.0
5       6         1         2      7.0
6       7         4         2      8.0
7       8         9         2      9.0
8       9         5         3     10.0
9      10        15         3     11.0
10     11         5         4     12.0
11     12         8         4     13.0
12     13        15         4     14.0
13     14         5         5     15.0
14     15         2         6     16.0
15     16         6         6     17.0
16     17        17         6     18.0
17     18         5         7     19.0
18     19        15         7     20.0
19     20         1         8     21.0

# Set Dataframe Columns In Same Order As Database And Set Index For Each

In [21]:
genres_df = genres_df.loc[:, ["mg_id", "movie_id", "genre_id"]]
# movies_df = movies_df.loc[:, ["movie_id", "name", "year"]]
# ratings_df = ratings_df.loc[:, ["user_id", "movie_id", "rating"]]
# cast_df = cast_df.loc[:, ["mc_id", "movie_id", "cast_id"]]

genres_df = genres_df.set_index("mg_id")
# movies_df = movies_df.set_index("movie_id")
# ratings_df = ratings_df.set_index("user_id")
# cast_df = cast_df.set_index("mc_id")

In [22]:
genres_df.head()

       movie_id  genre_id
mg_id
1             1         1
2             1         3
3             1         4
4             1         5
5             1         9

In [23]:
genres_df.count()

movie_id    57818
genre_id    57818
dtype: int64

In [ ]:
# movies_df.head()

In [ ]:
# ratings_df.head()

In [ ]:
# cast_df.head()

# Import Sensitive Access Information For Database From Config File

In [24]:
from config import db_password
from config import username

# Establish Connection With AWS Database

In [25]:
host = 'movies-fp.cpige012zhtw.us-east-1.rds.amazonaws.com'
port = 5432
passw = db_password
database = "postgres"
port=5432

   
db_string = "postgresql://" + username + ":" + passw + "@" + host + ":" + "5432/" + database
engine = create_engine(db_string)

# Write Dataframes Into SQL Tables In Database

In [ ]:
genres_df.to_sql(name="movie_genre", con=engine, if_exists="replace")

In [ ]:
# movies_df.to_sql(name="movies", con=engine, if_exists="replace")

In [ ]:
# ratings_df.to_sql(name="ratings", con=engine, if_exists="replace")

In [ ]:
# cast_df.to_sql(name="movie_cast", con=engine, if_exists="replace")